body {
  width: 97vw;
  background: black url('./img/background1.png') no-repeat fixed top;
  background-size: cover;
  color: #fff;
  align-items: center;
}

.app {
  width: 100vw;
  margin-top: -33px;
  text-align: center;
  padding: 5%;
}

.app-title {
  font-size:26px;
}

.input {
  display: flex;
  justify-content: center;
}

.box {
  max-width: 600px;
}

/* Profile */

.profile {
  margin-top: 20px;
  margin-left: 4.3%;
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
}

.profile-info {
  margin-top: 20px;
  margin-left: 17px;
  text-align: left;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 50%;
}

.profile-name {
  font-size: 26px;
}

/*.profile-followers, .profile-genres {
  
}*/

/* Gallery */

.gallery {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.track {
  width: 128px;
  height: 170px;
  float: left;
  align-items: center;
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 8px;
  padding-top: 12px;
  margin: 3.5px;
}

.track-img {
  border-radius: 5px;
  cursor: pointer;
}

.track-play {
  opacity: 0;
  position: absolute;
  width: 110px;
  margin-top: -70px;
  cursor: pointer;
}

.track-play:hover {
  opacity: 0.7;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.track-text {
  opacity: 0.8;
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.cont {
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  width: 150px;
  /*margin: auto;*/
  margin: 3px;
  margin-top: 20px;
}

.instruct{
  margin-top: 8px;
}

dialog {
  z-index: 1;
  margin-top: -13px;
  border: 2px  lightgray solid;
  border-radius: 8px;
}

.alert {
  padding-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
